{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-5">
        <div class="border-bottom border-info mb-4">
            <h3 class="m-0 d-inline">Wypożyczenia</h3>
        </div>
        <table class="table table-striped table-hover" id="bookTable">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="border-top-0">Tytuł</th>
                <th scope="col" class="border-top-0">Użytkownik</th>
                <th scope="col" class="border-top-0">Początek</th>
                <th scope="col" class="border-top-0">Dni</th>
                <th scope="col" class="border-top-0">Oddano</th>
            </tr>
            </thead>
            <tbody>
            {% for loan in loans %}
                <tr class="table-{{ loan.committedAt ? "success" : "" }}">
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ loan.bookCopy.book.title }}</td>
                    <td>{{ loan.borrower.email }}</td>
                    <td>{{ loan.startedAt|date('Y-m-d') }}</td>
                    <td>{{ date(loan.startedAt|date("Y-m-d")).diff(date((loan.committedAt ?? "now")|date("Y-m-d")) ).days }}</td>
                    <td>{{ loan.committedAt ? loan.committedAt|date("Y-m-d") : "-" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/app/js/userInfo.js') }}"></script>
{% endblock %}