{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="card border-warning">
                <div class="card-header bg-warning font-weight-bold">Liczba czytelników</div>
                <div class="card-body text-center">
                    {{ users|length }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-primary">
                <div class="card-header bg-primary font-weight-bold">Liczba Ksiązek</div>
                <div class="card-body text-center">
                    {{ bookCopies|length }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-info">
                <div class="card-header bg-info font-weight-bold">Liczba aktualnych wypożyczeń</div>
                <div class="card-body text-center">
                    {{ loans|length }}
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="border-bottom border-info mb-4">
            <h3 class="m-0 d-inline">Wypożyczenia</h3>
            <small class="d-inline">( 10 ostatnich )</small>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="border-top-0">Tytuł</th>
                <th scope="col" class="border-top-0">Użytkownik</th>
                <th scope="col" class="border-top-0">Początek</th>
                <th scope="col" class="border-top-0">Dni</th>
            </tr>
            </thead>
            <tbody>
            {% for loan in loans %}
                <tr>
                    <td>{{ loan.bookCopy.book.title }}</td>
                    <td>{{ loan.borrower.email }}</td>
                    <td>{{ loan.startedAt|date('Y-m-d') }}</td>
                    <td>{{ date(loan.startedAt|date("Y-m-d")).diff(date("now"|date("Y-m-d")) ).days }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}