<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Biblioteka {% block title %}{% endblock %}</title>
        {% block vendor_scripts %}
            {{ encore_entry_script_tags('application') }}
            {{ encore_entry_link_tags('application') }}
        {% endblock %}

        {% block bootstrap %}
            {{ encore_entry_link_tags('bootstrap') }}
            {{ encore_entry_script_tags('bootstrap') }}
        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('build/app/css/main-styles.css') }}" rel="stylesheet"/>
        {% endblock %}

    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="/img/icon1024px.png" width="30" height="30" class="d-inline-block align-top" alt="">
                LMS
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {{ knp_menu_render('main') }}
            </div>
        </nav>
        <div class="container-xl mt-4">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
